#grid-container {
    width: 40%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

#grid-container div {
    aspect-ratio: 1;
    background-color: #f9f9f9;
    border: 1px solid black;
    box-sizing: border-box;

}

#new-button {
    display: flex;
    margin: 20px auto;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20px;
}